.scroller {
  width: 100%;
  height: auto;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.inner {
  width: max-content;
  display: flex;
  animation: scroll 15s linear infinite;
}

.image-container {
  position: relative;
  height: 800px;
  width: 800px;
  border: none;
}

.image-container.active {
  border: 2px solid red;
}

.scroll-image {
  height: 100%;
  width: 100%;
}

.icons-container {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
}

.icon {
  color: red;
  margin-right: 5px;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
